<h1>Todo list</h1>

<% @tasks.each do |task| %>
<p> <%= link_to task.title, task_path(task) %> - <%= task.details %> - <%= task.completed %> </p>
<% end %>

<%= link_to 'Add a new task', tasks_new_path %>
